.footer {
  /* background-color: #fff; */
  margin: 20px 0px 5px;
  position: relative;
  bottom: 2px; /* below the logo bar */
  left: 0;
  border-right: 1px solid #eaeaea;
  overflow-y: auto;
  width: 100%;
  padding: 15px;
  color: #5b5a5a;
  text-align: center;
}
