--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BankInfo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BankInfo" (
    id text NOT NULL,
    "bankName" text NOT NULL,
    "accountNo" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BankInfo" OWNER TO postgres;

--
-- Name: BankTransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BankTransaction" (
    id text NOT NULL,
    type text NOT NULL,
    amount double precision NOT NULL,
    "bankName" text DEFAULT ''::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BankTransaction" OWNER TO postgres;

--
-- Name: Expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Expense" (
    id text NOT NULL,
    title text NOT NULL,
    amount double precision NOT NULL,
    note text DEFAULT ''::text NOT NULL,
    "paymentMethod" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Expense" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    amount text NOT NULL,
    note text DEFAULT ''::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "purchaseId" text,
    "saleId" text,
    "paidWith" text DEFAULT ''::text NOT NULL,
    "amountRemaining" text NOT NULL
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "productImg" text NOT NULL,
    "productName" text NOT NULL,
    "inShop" integer DEFAULT 0 NOT NULL,
    "inStore" integer DEFAULT 0 NOT NULL,
    "sellingPrice" integer DEFAULT 0 NOT NULL,
    "buyingPrice" integer DEFAULT 0 NOT NULL,
    "paymentStatus" text DEFAULT 'paid'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Purchase" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "productName" text NOT NULL,
    quantity integer NOT NULL,
    "purchasingPrice" double precision NOT NULL,
    "supplierName" text DEFAULT ''::text NOT NULL,
    "supplierPhone" text DEFAULT ''::text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "sellingPrice" integer NOT NULL,
    "paidWith" text NOT NULL,
    "paymentStatus" text DEFAULT 'paid'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Purchase" OWNER TO postgres;

--
-- Name: Sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Sale" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "productName" text NOT NULL,
    "quantitySold" integer NOT NULL,
    "sellingPrice" double precision NOT NULL,
    "paidWith" text NOT NULL,
    "customerName" text DEFAULT ''::text NOT NULL,
    "customerPhone" text DEFAULT ''::text NOT NULL,
    "paymentStatus" text DEFAULT 'paid'::text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Sale" OWNER TO postgres;

--
-- Name: SentToShop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SentToShop" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "productName" text NOT NULL,
    "quantitySent" integer NOT NULL,
    "sellingPrice" double precision NOT NULL,
    "buyingPrice" double precision NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SentToShop" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    phone text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    username text NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: BankInfo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BankInfo" (id, "bankName", "accountNo", "createdAt") FROM stdin;
916548dd-c7a3-4664-8833-3349a97a2093	CBE	1000123456789	2025-07-29 19:59:28.606
d0836bc5-88e0-45af-9895-5d8ab8d50b33	telebirr	0909090909	2025-07-29 19:59:41.525
\.


--
-- Data for Name: BankTransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Expense; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Expense" (id, title, amount, note, "paymentMethod", "createdAt") FROM stdin;
4a32f3ac-1f68-4a61-ac95-c8c2ed746ed6	af	34	sdg	CBE	2025-07-29 22:34:44.323
e585557f-8527-4a0d-b266-1a7f5ba0baff	hdsgf	3200	dsf	Cash	2025-08-29 22:34:28.592
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Sale; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SentToShop; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SentToShop" (id, "productId", "productName", "quantitySent", "sellingPrice", "buyingPrice", date, "createdAt") FROM stdin;
6849eca4-158f-4ac3-86a8-5384246c5272	2971ef06-d4d9-4860-a833-235c13a7af17	jkfd	10	333	22	2025-07-30 00:00:00	2025-07-29 21:29:04.958
6471042f-ab0a-465d-b2b8-d5b977ca9478	cf2f63d5-0cad-429d-b4e3-90e69d0b24c7	mmttrr	80	1000	800	2025-07-30 00:00:00	2025-07-29 21:34:11.217
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, phone, password, role, "createdAt", username) FROM stdin;
abcd	0910183696	abcdefg	admin	2025-07-29 01:33:29.986	fird
4d909c7c-9704-4244-b529-287bad550c63	0901160103	123456	user	2025-07-29 17:36:38.988	nus
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: BankInfo BankInfo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BankInfo"
    ADD CONSTRAINT "BankInfo_pkey" PRIMARY KEY (id);


--
-- Name: BankTransaction BankTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BankTransaction"
    ADD CONSTRAINT "BankTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Expense Expense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Purchase Purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_pkey" PRIMARY KEY (id);


--
-- Name: Sale Sale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_pkey" PRIMARY KEY (id);


--
-- Name: SentToShop SentToShop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SentToShop"
    ADD CONSTRAINT "SentToShop_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: User_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phone_key" ON public."User" USING btree (phone);


--
-- Name: Payment Payment_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public."Purchase"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payment Payment_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Purchase Purchase_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sale Sale_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SentToShop SentToShop_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SentToShop"
    ADD CONSTRAINT "SentToShop_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

